.dev {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .dev {
    padding: 0 20px; /* Adjust padding as needed */
  }
}

@media screen and (max-width: 992px) {
  .dev {
    padding: 0 15px; /* Adjust padding as needed */
  }
}

@media screen and (max-width: 768px) {
  .dev {
    padding: 0 10px; /* Adjust padding as needed */
  }
}
