.marvWebRemovedBg00011 {
  height: 481px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.heroContent {
  width: 481px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 481px;
  max-width: 100%;
}
.httpslottiefilescomanimatIcon {
  top: 131px;
  left: -19.9px;
}
.httpslottiefilescomanimatIcon,
.httpslottiefilescomanimatIcon1,
.httpslottiefilescomanimatIcon2 {
  height: 33px;
  width: 33px;
  position: absolute;
  margin: 0 !important;
  object-fit: contain;
}
.httpslottiefilescomanimatIcon1 {
  top: -24px;
  left: -19.9px;
}
.httpslottiefilescomanimatIcon2 {
  bottom: -0.1px;
  left: 0;
}
.httpslottiefilescomanimatIcon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 90px;
}
.httpslottiefilescomanimatWrapper {
  height: 32.3px;
  width: 32.3px;
  position: relative;
}
.content,
.m1 {
  margin: 0 !important;
  position: absolute;
  display: flex;
}
.content {
  width: 316.6px;
  top: -47px;
  right: -12.4px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-185xl-3);
  box-sizing: border-box;
}

.m1 {
  height: 98.8px;
  font-size: inherit;
  line-height: 37px;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  transform: rotate(-4.1deg);
  transform-origin: 0 0;
}

.m1 {
  top: 5.52px;
  left: 0;
  color: var(--polaonbasecom-nero);
  z-index: 1;
}
.frameDiv,
.mParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mParent {
  align-self: stretch;
  height: 111.6px;
  flex-direction: row;
  position: relative;
}
.frameDiv {
  width: 105.5px;
  flex-direction: column;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
}

.a1 {
  margin: 0 !important;
  height: 98.8px;
  position: absolute;
  font-size: inherit;
  line-height: 37px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-4.1deg);
  transform-origin: 0 0;
}

.a1 {
  top: 5.52px;
  left: 0;
  color: var(--polaonbasecom-nero);
  z-index: 1;
}
.aParent,
.frameWrapper1 {
  display: flex;
  align-items: flex-start;
}
.aParent {
  align-self: stretch;
  height: 111.6px;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.frameWrapper1 {
  width: 84.5px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  margin-left: 70px;
}
.r,
.r1 {
  margin: 0 !important;
  height: 98.8px;
  position: absolute;
  font-size: inherit;
  line-height: 37px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-4.1deg);
  transform-origin: 0 0;
}
.r {
  right: 6.9px;
  bottom: -0.32px;
  filter: blur(4px);
}
.r1 {
  top: 5.52px;
  left: 0;
  color: var(--polaonbasecom-nero);
  z-index: 1;
}
.frameWrapper2,
.rParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rParent {
  align-self: stretch;
  height: 111.6px;
  justify-content: flex-start;
  position: relative;
}
.frameWrapper2 {
  width: 84.5px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  margin-left: 70px;
}
.v,
.v1 {
  margin: 0 !important;
  height: 98.8px;
  position: absolute;
  font-size: inherit;
  line-height: 37px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-4.1deg);
  transform-origin: 0 0;
}
.v {
  right: 6.9px;
  bottom: -0.32px;
  filter: blur(4px);
}
.v1 {
  top: 5.52px;
  left: 0;
  color: var(--polaonbasecom-nero);
  z-index: 1;
}
.frameWrapper3,
.vParent {
  display: flex;
  align-items: flex-start;
}
.vParent {
  align-self: stretch;
  height: 111.6px;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.frameWrapper3 {
  width: 84.5px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl);
  box-sizing: border-box;
  margin-left: 70px;
}
.frameGroup,
.heroDescriptionContent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frameGroup {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.heroDescriptionContent {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.marvIsA {
  margin: 0;
}
.marvIsAContainer1 {
  width: 100%;
}
.marvIsAContainer {
  margin-left: -29.9px;
  width: 617px;
  position: relative;
  line-height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 106%;
}
.description {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-12xs-4) 0 var(--padding-3xs-6);
  box-sizing: border-box;
  font-size: var(--font-size-13xl);
  color: var(--polaonbasecom-nero);
  font-family: var(--font-patrick-hand);
}
.description,
.frameContainer,
.heroDescriptionContentParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.heroDescriptionContentParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-39xl);
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  flex-shrink: 0;
}
.buyBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 1px 1px 0#000;
  border-radius: var(--br-258xl);
  background-color: var(--color-lemonchiffon);
  border: 2px solid var(--polaonbasecom-black);
  box-sizing: border-box;
}
.buyNow {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 37px;
  font-family: var(--font-patrick-hand);
  color: var(--color-seagreen);
  text-align: center;
  display: inline-block;
  min-width: 95px;
  z-index: 1;
}
.buyBackgroundParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-38xl) var(--padding-lg);
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  white-space: nowrap;
}
.buyBackgroundParent,
.frameParent,
.frameWrapper4 {
  display: flex;
  align-items: flex-start;
}
.frameWrapper4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  margin-left: 70px;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
  z-index: 1;
}
.marvWebNewSet0011 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.marvWebNewSet0011Wrapper {
  height: 335.2px;
  width: 336px;
  margin: 0 !important;
  position: absolute;
  right: -160px;
  bottom: -90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  z-index: 2;
}
.httpslottiefilescomanimatParent {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.frameWrapper,
.heroContentParent,
.httpslottiefilescomanimatParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  margin: 0 auto;
}
.frameWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
  min-width: 395px;
  margin-right: -10px;
}
.heroContentParent {
  width: 1244.9px;
  margin: 0 auto; /* Center the element horizontally */
  display: flex; /* Ensure flex container */
  flex-direction: row;
  gap: var(--gap-137xl-9);
  text-align: center;
  font-size: var(--font-size-201xl);
  color: var(--polaonbasecom-black);
  font-family: var(--font-pure-joy);
}

/* FrameComponent3.module.css */

/* Adjustments for screens above 1440px wide */
@media screen and (min-width: 1441px) {
  .heroContentParent {
    gap: var(--gap-137xl-9); /* Adjust the gap between elements */
  }
}

/* Adjustments for screens below 1440px wide but above 1200px */
@media screen and (max-width: 1440px) {
  .heroContentParent {
    gap: var(--gap-59xl); /* Adjust the gap between elements */
  }
}

/* Adjustments for screens below 1200px wide but above 800px */
@media screen and (max-width: 1200px) {
  .heroContent,
  .marvWebRemovedBg00011 {
    flex: 1; /* Make sure content and images are flexible */
  }
  .heroContentParent {
    flex-wrap: wrap; /* Wrap content to fit smaller screens */
  }
}

/* Adjustments for screens below 800px wide but above 450px (tablet screens) */
@media screen and (max-width: 800px) {
  .heroContent {
    min-width: 100%; /* Ensure content takes full width */
  }
  .a1,
  .m1,
  .r1,
  .v1 {
    font-size: var(--font-size-69xl); /* Adjust font size */
    line-height: 22px; /* Adjust line height */
  }
  .frameGroup {
    flex-wrap: wrap; /* Allow content to wrap */
  }
  .heroDescriptionContentParent {
    gap: var(--gap-10xl); /* Adjust gap between elements */
  }
  .frameWrapper {
    min-width: 100%; /* Ensure content takes full width */
  }
  .heroContentParent {
    gap: var(--gap-20xl); /* Adjust the gap between elements */
  }
}

/* Adjustments for screens below 450px wide (mobile screens) */
@media screen and (max-width: 450px) {
  .a1,
  .m1,
  .r1,
  .v1 {
    font-size: var(--font-size-36xl); /* Adjust font size */
    line-height: 15px; /* Adjust line height */
  }
  .marvIsAContainer {
    font-size: var(--font-size-lgi); /* Adjust font size */
    line-height: 26px; /* Adjust line height */
  }
  .heroContentParent {
    gap: var(--gap-xl); /* Adjust the gap between elements */
  }
  
  /* Ensure background includes all content and images */
  .marvWebRemovedBg00011 {
    height: auto;
  }
}
