.marvWebNewSet0003 {
  width: 154px;
  height: 154px;
  position: relative;
  object-fit: contain;
}
.f {
  text-transform: capitalize;
}
.reeze {
  text-transform: lowercase;
}
.m {
  text-transform: capitalize;
}
.int {
  text-transform: lowercase;
}
.freezeMintContainer1 {
  width: 100%;
}
.freezeMintContainer {
  width: 134px;
  height: 24px;
  position: relative;
  line-height: 76.8px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.evoke {
  text-transform: capitalize;
}
.revokeTxt {
  line-break: anywhere;
  width: 100%;
}
.revoke {
  width: 142px;
  height: 37px;
  position: relative;
  font-size: var(--font-size-17xl);
  line-height: 76.8px;
  font-family: var(--font-pure-joy);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.marvWebNewSet0003Parent {
  width: 275px;
  border-radius: var(--br-25xl);
  background: linear-gradient(90deg, #ece9e6, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
  font-family: var(--font-patrick-hand);
}
@media screen and (max-width: 800px) {
  .revoke {
    font-size: var(--font-size-10xl);
    line-height: 61px;
  }
}
@media screen and (max-width: 450px) {
  .freezeMintContainer {
    font-size: var(--font-size-lgi);
    line-height: 61px;
  }
  .revoke {
    font-size: var(--font-size-3xl);
    line-height: 46px;
  }
}
