.marvgallery {
  align-self: stretch;
  position: relative;
  line-height: 77px;
}
.imagePlaceholders {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.imageContent,
.imagePlaceholdersWrapper {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.imageContent {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.marvAndPepCostumes0008 {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.imageContentParent {
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameChild,
.frameParent,
.imageContentParent {
  position: absolute;
  top: 0;
  left: 0;
}
.frameParent {
  height: 290px;
  width: 290px;
  margin: 0 !important;
  flex-shrink: 0;
}
.frameChild {
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameItem,
.rectangleWrapper {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameItem {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.untitled2000111 {
  position: absolute;
  top: calc(50% - 76px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameGroup {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 319px;
  flex-shrink: 0;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.rectangleContainer,
.rectangleDiv {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.rectangleDiv {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.marvWebNewSet0009 {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.rectangleGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameContainer {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 638px;
  flex-shrink: 0;
}
.frameChild1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameChild2,
.rectangleFrame {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameChild2 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.marvMems0011Icon {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: cover;
  z-index: 1;
}
.rectangleParent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.groupDiv {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 957px;
  flex-shrink: 0;
}
.frameChild3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameChild4,
.rectangleWrapper1 {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameChild4 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.roadMap0008Icon {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameParent1 {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 1276px;
  flex-shrink: 0;
}
.frameChild5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameChild6,
.rectangleWrapper2 {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameChild6 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.marvMems0013Icon {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameParent2 {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 1595px;
  flex-shrink: 0;
}
.frameChild7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameChild8,
.rectangleWrapper3 {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameChild8 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.marvAndPepCostumes0009 {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameParent3 {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 1914px;
  flex-shrink: 0;
}
.frameChild9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameChild10,
.rectangleWrapper4 {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameChild10 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.marvMems0015Icon {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameParent4 {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 2233px;
  flex-shrink: 0;
}
.frameChild11 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameChild12,
.rectangleWrapper5 {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameChild12 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.marvWebNewSet0007 {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameParent5 {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 319px;
  left: 0;
  flex-shrink: 0;
}
.frameChild13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameChild14,
.rectangleWrapper6 {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameChild14 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.roadMap0007Icon {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameParent6 {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 319px;
  left: 319px;
  flex-shrink: 0;
}
.frameChild15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameChild16,
.rectangleWrapper7 {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameChild16 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.marvMems0003Icon {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: cover;
  z-index: 1;
}
.rectangleParent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameParent7 {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 319px;
  left: 638px;
  flex-shrink: 0;
}
.frameChild17 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameChild18,
.rectangleWrapper8 {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameChild18 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.marvMems0012Icon {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameParent8 {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 319px;
  left: 957px;
  flex-shrink: 0;
}
.frameChild19 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameChild20,
.rectangleWrapper9 {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameChild20 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.marv0005Icon {
  position: absolute;
  top: calc(50% - 77.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameParent9 {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 319px;
  left: 1276px;
  flex-shrink: 0;
}
.frameChild21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameChild22,
.rectangleWrapper10 {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameChild22 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.marvAndPepCostumes0001 {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameParent10 {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 319px;
  left: 1595px;
  flex-shrink: 0;
}
.frameChild23 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameChild24,
.rectangleWrapper11 {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameChild24 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.marvAndPepCostumes0005 {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameParent11 {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 319px;
  left: 1914px;
  flex-shrink: 0;
}
.frameChild25 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-olivedrab);
  width: 100%;
  height: 100%;
}
.frameChild26,
.rectangleWrapper12 {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 275px;
  height: 269px;
}
.frameChild26 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background: linear-gradient(90deg, #ece9e6, #fff);
  width: 100%;
  height: 100%;
}
.marvAndPepCostumes0006 {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 76.5px);
  width: 154px;
  height: 154px;
  object-fit: contain;
  z-index: 1;
}
.rectangleParent13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 269px;
  z-index: 1;
}
.frameParent12 {
  height: 290px;
  width: 290px;
  position: absolute;
  margin: 0 !important;
  top: 319px;
  left: 2233px;
  flex-shrink: 0;
}
.gridContent,
.imageGrid,
.images {
  display: flex;
  flex-direction: row;
  scroll-behavior: auto;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.images {
  height: 609px;
  width: 2523px;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  gap: 29px 28.4px;
}

.gridContent,
.imageGrid {
  align-items: center;
  max-width: 100%;
  margin: 0 auto; /* Center the grid content */
}

.gridContent {
  width: 1247px;
  flex-shrink: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: auto;
  overflow: hidden;
}

.imageGrid {
  align-self: stretch;
  justify-content: flex-start; /* Keep the images aligned to the start */
}

.images::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.images {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.roadMap000100071 {
  height: 312px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}
.galleryTitles {
  width: 332px;
  margin: 0 !important;
  position: absolute;
  top: -235px;
  left: -8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.roadMap000100081 {
  height: 312px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}
.galleryTitles1 {
  width: 332px;
  margin: 0 !important;
  position: absolute;
  top: -235px;
  right: -38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.gallery1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-sm);
  max-width: 100%;
}
.notoupArrowIcon
{
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-height: 48px;
  background-color: var(--color-tan);
  
}
.notoupArrowIcon1 {
  height: 48px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-height: 48px;
 
}
.arrows,
.gallery {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.gallery {
  width: 100%;
  background-color: var(--color-darksalmon);
  border-bottom: 3px solid var(--polaonbasecom-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-206xl) var(--padding-78xl) var(--padding-46xl)
    var(--padding-77xl);
  gap: var(--gap-6xl);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--polaonbasecom-nero);
  font-family: var(--font-acme);
  min-height: 100vh;
}
@media screen and (max-width: 1350px) {
  .imageGrid {
    gap: var(--gap-633xl);
  }
}
@media screen and (max-width: 1125px) {
  .gallery {
    padding-top: var(--padding-127xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .marvgallery {
    font-size: var(--font-size-19xl);
    line-height: 61px;
  }
  .gridContent {
    gap: var(--gap-xl);
  }
  .imageGrid {
    gap: var(--gap-307xl);
  }
  .gallery {
    padding: var(--padding-76xl) var(--padding-29xl) var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .marvgallery {
    font-size: var(--font-size-10xl);
    line-height: 46px;
  }
  .imageGrid {
    gap: var(--gap-144xl);
  }
  .gallery {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
