
.header {
  /* width: 100%; */
  background-color: var(--color-darkslateblue);
  border-bottom: 3px solid var(--polaonbasecom-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-51xl) var(--padding-xl) var(--padding-8xs);
  gap: var(--gap-75xl);
  /* max-height: 722px; */
  text-align: center;
  font-size: var(--font-size-201xl);
  color: var(--polaonbasecom-black);
  font-family: var(--font-pure-joy);
  /* min-height: 100vh; */
  max-width: 100%;
}
@media screen and (max-width: 1200px) {
  .header {
    gap: var(--gap-28xl);
    padding-top: var(--padding-26xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .header {
    gap: var(--gap-4xl);
  }
}
