.howToBuy1 {
  align-self: stretch;
  position: relative;
  line-height: 77px;
}
.groupIcon {
  width: 100%;
  height: 287.6px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.groupIcon1 {
  height: 112.6px;
  width: 112.6px;
  position: relative;
  z-index: 1;
}
.buy11Icon {
  height: 56px;
  width: 56px;
  position: absolute;
  margin: 0 !important;
  top: 28px;
  left: 28.3px;
  object-fit: cover;
  z-index: 2;
}
.buyInstruction,
.instructionDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buyInstruction {
  position: relative;
}
.instructionDetails {
  padding: 0 var(--padding-34xl) 0 var(--padding-27xl);
}
.downloadPhantomExtension1 {
  flex: 1;
  position: relative;
  line-height: 23px;
}
.phantomDownloadInstruction {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 var(--padding-mini);
}
.downloadAndInstall {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-family: var(--font-patrick-hand);
}
.downloadPhantomExtension,
.phantomDownloadInstructionParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.phantomDownloadInstructionParent {
  width: 207px;
  z-index: 1;
}
.downloadPhantomExtension {
  padding: 0 var(--padding-30xl) var(--padding-33xl-5);
  position: relative;
  gap: var(--gap-2xs-8);
}
.rectangle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.groupIcon2 {
  position: absolute;
  height: 90.73%;
  width: 95.35%;
  top: 2.32%;
  right: 3.48%;
  bottom: 6.95%;
  left: 1.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.group1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.groupIcon3 {
  position: absolute;
  bottom: -125.2px;
  left: 22.2px;
  width: 258.4px;
  height: 258.4px;
  z-index: 1;
}
.group {
  width: 100%;
  height: 155.4px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
}
.secureYour,
.sol {
  margin: 0;
}
.secureYourSolContainer {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  line-height: 19px;
  color: inherit;
  z-index: 2;
}
.youCanBuy {
  flex: 1;
  position: relative;
  line-height: 24px;
  z-index: 2;
}
.secureSolDescription,
.secureSolExplanation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.secureSolExplanation {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  font-family: var(--font-patrick-hand);
}
.secureSolDescription {
  width: 217px;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.groupIcon4 {
  height: 112.6px;
  width: 112.6px;
  position: relative;
  z-index: 2;
}
.secureSolIcon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-40xl) 0 var(--padding-33xl);
}
.secureYourSol,
.secureYourSolWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.secureYourSol {
  justify-content: flex-start;
  padding: var(--padding-52xl-7) var(--padding-24xl) var(--padding-12xs-1);
  position: relative;
  gap: var(--gap-17xl);
}
.secureYourSolWrapper {
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-2);
  font-size: var(--font-size-xl);
}
.rectangle1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.groupIcon5 {
  position: absolute;
  height: 90.88%;
  width: 95.35%;
  top: 2.31%;
  right: 3.48%;
  bottom: 6.81%;
  left: 1.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.group2,
.vectorIcon {
  width: 100%;
  height: 155.7px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
}
.vectorIcon {
  height: 100%;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.buySome,
.marv {
  margin: 0;
}
.buySomeMarvContainer {
  flex: 1;
  position: relative;
  line-height: 23px;
  z-index: 1;
}
.buySomeMarvWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 var(--padding-4xs);
}
.nowGoTo {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-family: var(--font-patrick-hand);
  z-index: 1;
}
.groupIcon6 {
  width: 112.6px;
  height: 112.6px;
  position: absolute;
  margin: 0 !important;
  top: -55.3px;
  left: 72.9px;
  z-index: 3;
}
.buySomeFloppy,
.group3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
}
.group3 {
  width: 258.4px;
  align-items: flex-end;
  padding: var(--padding-53xl-1) var(--padding-16xl) var(--padding-21xl-3);
  z-index: 2;
}
.buySomeFloppy {
  width: 310px;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-36xl-3) var(--padding-3xl) var(--padding-10xl-2);
}
.rectangle2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.groupIcon7 {
  position: absolute;
  height: 90.73%;
  width: 95.45%;
  top: 2.32%;
  right: 3.42%;
  bottom: 6.95%;
  left: 1.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.group4,
.group5,
.groupIcon8 {
  position: absolute;
  top: 0;
  left: 0;
}
.group5 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
}
.group4,
.groupIcon8 {
  margin: 0 !important;
}
.group4 {
  width: 100%;
  height: 155.4px;
  right: 0;
}
.groupIcon8 {
  width: calc(100% - 7.3px);
  height: 100%;
  right: 7.3px;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.addToYour,
.wallet {
  margin: 0;
}
.addToYourContainer {
  flex: 1;
  position: relative;
  line-height: 19px;
  z-index: 1;
}
.addToWalletTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 var(--padding-smi);
}
.nowYoureAll {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-family: var(--font-patrick-hand);
  z-index: 1;
}
.groupIcon9 {
  width: 112.6px;
  height: 112.6px;
  position: absolute;
  margin: 0 !important;
  bottom: -55.3px;
  left: 72.8px;
  z-index: 2;
}
.group6 {
  justify-content: flex-start;
  padding: var(--padding-mid-5) var(--padding-sm) var(--padding-48xl-9)
    var(--padding-5xs);
  position: relative;
  gap: var(--gap-3xs);
  z-index: 1;
}
.addToYourWallet,
.addToYourWalletWrapper,
.group6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.addToYourWallet {
  flex: 1;
  justify-content: flex-start;
  padding: var(--padding-3xl-2) var(--padding-3xl) var(--padding-3xl);
  position: relative;
}
.addToYourWalletWrapper {
  width: 309.7px;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-4);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.buyingSteps {
  width: 1240px;
  height: 342.9px;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-12xs-1);
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--polaonbasecom-black);
  font-family: var(--font-pure-joy);
}
.howToBuy,
.howtobuy {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.howToBuy {
  width: 1240px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  max-width: 100%;
}
.howtobuy {
  width: 100%;
  background-color: var(--color-darkslateblue);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-xl);
  box-sizing: border-box;
  
  min-height: 100vh;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--polaonbasecom-nero);
  font-family: var(--font-acme);
}
@media screen and (max-width: 800px) {
  .howToBuy1 {
    font-size: var(--font-size-19xl);
    line-height: 61px;
  }
  .howToBuy {
    gap: var(--gap-21xl);
  }
  .howtobuy {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .howToBuy1 {
    font-size: var(--font-size-10xl);
    line-height: 46px;
  }
  .downloadAndInstall {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .downloadPhantomExtension {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .secureYourSolContainer,
  .youCanBuy {
    font-size: var(--font-size-base);
    line-height: 15px;
  }
  .youCanBuy {
    line-height: 19px;
  }
  .secureYourSol {
    gap: var(--gap-lg);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .nowGoTo {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .addToYourContainer,
  .nowYoureAll {
    font-size: var(--font-size-base);
    line-height: 15px;
  }
  .nowYoureAll {
    line-height: 19px;
  }
  .howToBuy {
    gap: var(--gap-xl);
  }
}
