/* LoadingScreen.module.css */
.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ensure no scrollbars */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.backgroundGif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the GIF covers the entire screen */
  z-index: -1; /* Place the GIF behind the loading bar */
}

.loadingBar {
  width: 50%;
  height: 10px;
  background-color: #fff; /* Change this to your desired color */
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.loadingBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #000; /* Change this to your desired color */
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
