.marvmemes1 {
  align-self: stretch;
  position: relative;
  line-height: 77px;
}
.marvmemeContentIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl) var(--br-9xs) var(--br-6xl) var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.pinIcon {
  height: 28px;
  width: 29.3px;
  position: relative;
  z-index: 1;
}
.marvmemeContentParent,
.marvmemeItems,
.memeItem {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.marvmemeContentParent {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-11xl) var(--padding-128xl);
  box-sizing: border-box;
  position: relative;
}
.marvmemeItems,
.memeItem {
  justify-content: flex-start;
}
.marvmemeItems {
  align-self: stretch;
  height: 433.5px;
  flex-direction: row;
}
.memeItem {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 292px;
}
.pinIcon1 {
  width: 38.2px;
  height: 38.2px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 156.2px;
  object-fit: contain;
}
.marvmemeContentIcon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-6xl) var(--br-9xs) var(--br-6xl) var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.marvmemeItems1,
.memeItem1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.marvmemeItems1 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  padding: var(--padding-19xl-2) 0 0;
  position: relative;
}
.memeItem1 {
  height: 420.3px;
  width: 350.6px;
  padding: var(--padding-6xl-2) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.marvmemeContentIcon2,
.pinIcon2 {
  position: absolute;
  margin: 0 !important;
  object-fit: contain;
}
.marvmemeContentIcon2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl) var(--br-9xs) var(--br-6xl) var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pinIcon2 {
  height: 38.4px;
  width: 39px;
  top: 25.3px;
  left: 150.4px;
  z-index: 1;
}
.marvmemeContentGroup {
  height: 445.5px;
  flex: 1;
  justify-content: flex-start;
  position: relative;
}
.line1Memes,
.marvmemeContentGroup,
.marvmemeItems2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.marvmemeItems2 {
  flex: 1;
  justify-content: flex-start;
  min-width: 292px;
}
.line1Memes {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  flex-shrink: 0;
}
.frameChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl) var(--br-9xs) var(--br-6xl) var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.pinIcon3 {
  height: 28px;
  width: 29.3px;
  position: relative;
  z-index: 1;
}
.frameParent,
.frameWrapper,
.line1MemesInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-11xl) var(--padding-128xl);
  box-sizing: border-box;
  position: relative;
}
.frameWrapper,
.line1MemesInner {
  justify-content: flex-start;
}
.frameWrapper {
  align-self: stretch;
  height: 433.5px;
  flex-direction: row;
}
.line1MemesInner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 292px;
}
.frameItem,
.pinIcon4 {
  overflow: hidden;
  object-fit: contain;
}
.pinIcon4 {
  width: 38.2px;
  height: 38.2px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 156.2px;
  flex-shrink: 0;
}
.frameItem {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-6xl) var(--br-9xs) var(--br-6xl) var(--br-9xs);
  max-width: 100%;
  max-height: 100%;
}
.line1MemesChild,
.pinParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pinParent {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  padding: var(--padding-19xl-2) 0 0;
  position: relative;
}
.line1MemesChild {
  height: 420.3px;
  width: 350.6px;
  padding: var(--padding-6xl-2) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frameInner,
.pinIcon5 {
  position: absolute;
  margin: 0 !important;
  object-fit: contain;
}
.frameInner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl) var(--br-9xs) var(--br-6xl) var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pinIcon5 {
  height: 38.4px;
  width: 39px;
  top: 25.3px;
  left: 150.4px;
  z-index: 1;
}
.frameGroup {
  height: 445.5px;
  flex: 1;
  justify-content: flex-start;
  position: relative;
}
.frameDiv,
.frameGroup,
.line1Memes1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameDiv {
  flex: 1;
  justify-content: flex-start;
  min-width: 292px;
}
.line1Memes1 {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  flex-shrink: 0;
}
.frameIcon,
.pinIcon6 {
  position: absolute;
  margin: 0 !important;
  object-fit: contain;
}
.frameIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl) var(--br-9xs) var(--br-6xl) var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pinIcon6 {
  height: 38.4px;
  width: 39px;
  top: 25.3px;
  left: 150.4px;
  z-index: 1;
}
.frameContainer,
.line3MemesInner {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameContainer {
  height: 445.5px;
  position: relative;
}
.line3MemesInner {
  min-width: 292px;
}
.marvmemeImageIcon {
  height: 356.9px;
  flex: 1;
  position: relative;
  border-radius: var(--br-6xl) var(--br-9xs) var(--br-6xl) var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}
.pinIcon8 {
  height: 38.2px;
  width: 38.2px;
  position: absolute;
  margin: 0 !important;
  top: -31px;
  right: 155.4px;
  object-fit: contain;
  z-index: 1;
}
.pinIcon7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.pinIconWrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xl) 0 0;
  box-sizing: border-box;
}
.frameWrapper1,
.line3MemesChild,
.pinIconWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameWrapper1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.line3MemesChild {
  width: 350.6px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xl-7);
  box-sizing: border-box;
}
.marvmemeImageIcon1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl) var(--br-9xs) var(--br-6xl) var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.pinIcon9 {
  height: 28px;
  width: 29.3px;
  position: relative;
  z-index: 1;
}
.marvmemeImageParent {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-11xl) var(--padding-128xl);
  box-sizing: border-box;
  position: relative;
}
.frameWrapper2,
.line3MemesInner1,
.marvmemeImageParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameWrapper2 {
  align-self: stretch;
  height: 433.5px;
  flex-direction: row;
  justify-content: flex-start;
}
.line3MemesInner1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  min-width: 292px;
}
.line3Memes,
.memes1 {
  align-self: stretch;
  max-width: 100%;
}
.line3Memes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  row-gap: 20px;
  flex-shrink: 0;
}
.memes1 {
  flex-direction: column;
  padding: 0 0 var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--gap-110xl);
}
.marvmemes,
.memes,
.memes1 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.memes {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.marvmemes {
  width: 100%;
  background-color: var(--color-tan);
  border-top: 4px solid var(--polaonbasecom-black);
  border-bottom: 4px solid var(--polaonbasecom-black);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-74xl) var(--padding-77xl);

  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--polaonbasecom-nero);
  font-family: var(--font-acme);
}
@media screen and (max-width: 1350px) {
  .memes1 {
    gap: var(--gap-45xl);
  }
  .marvmemes {
    padding-top: var(--padding-41xl);
    padding-bottom: var(--padding-41xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .marvmemes {
    padding-top: var(--padding-20xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .marvmemes1 {
    font-size: var(--font-size-19xl);
    line-height: 61px;
  }
  .memes1 {
    gap: var(--gap-13xl);
  }
  .memes {
    gap: var(--gap-6xl);
  }
  .marvmemes {
    padding: var(--padding-6xl) var(--padding-29xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .marvmemes1 {
    font-size: var(--font-size-10xl);
    line-height: 46px;
  }
  .frameParent,
  .marvmemeContentParent,
  .marvmemeImageParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .memes1 {
    gap: var(--gap-base);
  }
  .marvmemes {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
