
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barrio:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akronim:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400&display=swap");
@font-face {
  font-family: "Pure Joy";
  src: url("/public/Pure Joy.ttf");
  font-weight: 400;
}
body {
  margin: 0;
  line-height: normal;
  cursor: url('/public/cursor.png'), auto; 
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* fonts */
  --font-patrick-hand: "Patrick Hand";
  --font-pure-joy: "Pure Joy";
  --font-acme: Acme;
  --font-charm: Charm;
  --font-baloo-da: "Baloo Da";
  --font-annie-use-your-telescope: "Annie Use Your Telescope";
  --font-anton: Anton;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;
  --font-size-lg: 18px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-xl: 20px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-lgi: 19px;
  --font-size-49xl: 68px;
  --font-size-35xl: 54px;
  --font-size-22xl: 41px;
  --font-size-57xl: 76px;
  --font-size-42xl: 61px;
  --font-size-27xl: 46px;
  --font-size-201xl: 220px;
  --font-size-69xl: 88px;
  --font-size-36xl: 55px;
  --font-size-7xl: 26px;

  /* Colors */
  --polaonbasecom-nero: #fff;
  --polaonbasecom-black: #000;
  --color-gray-100: rgba(255, 255, 255, 0.8);
  --polaonbasecom-black-21: rgba(0, 0, 0, 0.21);
  --polaonbasecom-geyser: #dee2e6;
  --polaonbasecom-athens-gray: #f8f9fa;
  --polaonbasecom-link-water: #e2eff7;
  --color-darkslateblue: #561d6c;
  --color-tan: #bfbd8a;
  --color-seagreen: #005625;
  --color-darkslategray: #313131;
  --color-darksalmon: #be7e65;
  --color-olivedrab: #5d8f35;
  --color-lemonchiffon: #fcfac2;
  --color-goldenrod: #e8ac25;

  /* Gaps */
  --gap-67xl: 86px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-37xl: 56px;
  --gap-9xl: 28px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-110xl: 129px;
  --gap-13xl: 32px;
  --gap-45xl: 64px;
  --gap-61xl: 80px;
  --gap-21xl: 40px;
  --gap-12xs-1: 0.1px;
  --gap-3xs: 10px;
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-12xs: 1px;
  --gap-2xs-8: 10.8px;
  --gap-22xl: 41px;
  --gap-71xl: 90px;
  --gap-3xl: 22px;
  --gap-26xl: 45px;
  --gap-lgi: 19px;
  --gap-6xs: 7px;
  --gap-8xs: 5px;
  --gap-smi: 13px;
  --gap-7xl: 26px;
  --gap-1783xl-2: 1802.2px;
  --gap-882xl: 901px;
  --gap-432xl: 451px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-11xs-2: 1.2px;
  --gap-2xs: 11px;
  --gap-sm: 14px;
  --gap-307xl: 326px;
  --gap-144xl: 163px;
  --gap-633xl: 652px;
  --gap-10xl: 29px;
  --gap-10xs-8: 2.8px;
  --gap-75xl: 94px;
  --gap-28xl: 47px;
  --gap-137xl-9: 156.9px;
  --gap-20xl: 39px;
  --gap-59xl: 78px;
  --gap-39xl: 58px;
  --gap-mini: 15px;

  /* Paddings */
  --padding-90xl: 109px;
  --padding-xl: 20px;
  --padding-83xl: 102px;
  --padding-52xl: 71px;
  --padding-47xl: 66px;
  --padding-27xl: 46px;
  --padding-24xl: 43px;
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-mini: 15px;
  --padding-lgi: 19px;
  --padding-lg: 18px;
  --padding-12xs-5: 0.5px;
  --padding-49xl: 68px;
  --padding-5xs: 8px;
  --padding-17xl: 36px;
  --padding-50xl-1: 69.1px;
  --padding-10xs: 3px;
  --padding-7xs: 6px;
  --padding-50xl: 69px;
  --padding-15xl: 34px;
  --padding-8xs: 5px;
  --padding-xs: 12px;
  --padding-3xs: 10px;
  --padding-4xs: 9px;
  --padding-16xl: 35px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-74xl: 93px;
  --padding-77xl: 96px;
  --padding-6xl: 25px;
  --padding-29xl: 48px;
  --padding-20xl: 39px;
  --padding-41xl: 60px;
  --padding-12xs-1: 0.1px;
  --padding-11xl: 30px;
  --padding-128xl: 147px;
  --padding-9xl-7: 28.7px;
  --padding-12xl: 31px;
  --padding-6xl-2: 25.2px;
  --padding-19xl-2: 38.2px;
  --padding-31xl: 50px;
  --padding-13xl: 32px;
  --padding-9xs-4: 3.4px;
  --padding-3xl-2: 22.2px;
  --padding-3xl: 22px;
  --padding-mid-5: 17.5px;
  --padding-sm: 14px;
  --padding-48xl-9: 67.9px;
  --padding-smi: 13px;
  --padding-36xl-3: 55.3px;
  --padding-10xl-2: 29.2px;
  --padding-53xl-1: 72.1px;
  --padding-21xl-3: 40.3px;
  --padding-9xs-2: 3.2px;
  --padding-52xl-7: 71.7px;
  --padding-40xl: 59px;
  --padding-33xl: 52px;
  --padding-30xl: 49px;
  --padding-33xl-5: 52.5px;
  --padding-34xl: 53px;
  --padding-110xl: 129px;
  --padding-91xl: 110px;
  --padding-96xl: 115px;
  --padding-118xl: 137px;
  --padding-36xl: 55px;
  --padding-65xl: 84px;
  --padding-56xl: 75px;
  --padding-8xl: 27px;
  --padding-2xl: 21px;
  --padding-6xs: 7px;
  --padding-98xl-8: 117.8px;
  --padding-mid: 17px;
  --padding-206xl: 225px;
  --padding-78xl: 97px;
  --padding-46xl: 65px;
  --padding-76xl: 95px;
  --padding-127xl: 146px;
  --padding-23xl: 42px;
  --padding-149xl: 168px;
  --padding-4xl: 23px;
  --padding-51xl: 70px;
  --padding-26xl: 45px;
  --padding-422xl: 441px;
  --padding-268xl: 287px;
  --padding-38xl: 57px;
  --padding-12xs-4: 0.4px;
  --padding-3xs-6: 9.6px;
  --padding-9xs: 4px;
  --padding-185xl-3: 204.3px;
  --padding-58xl: 77px;
  --padding-19xl: 38px;
  --padding-35xl: 54px;
  --padding-10xl: 29px;
  --padding-2xs: 11px;
  --padding-10xs-3: 2.3px;

  /* Border radiuses */
  --br-base: 16px;
  --br-5xs: 8px;
  --br-7xs: 6px;
  --br-6xl: 25px;
  --br-9xs: 4px;
  --br-25xl: 44px;
  --br-2xs: 11px;
  --br-258xl: 277px;
  --br-15xl: 34px;
  --br-21xl: 40px;
}


body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-acme: Acme;
  --font-patrick-hand: "Patrick Hand";
  --font-pure-joy: "Pure Joy";
  --font-barrio: Barrio;
  --font-charm: Charm;
  --font-baloo-da: "Baloo Da";
  --font-annie-use-your-telescope: "Annie Use Your Telescope";
  --font-anton: Anton;
  --font-akronim: Akronim;

  /* font sizes */
  --font-size-29xl: 48px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-9xl: 28px;
  --font-size-17xl: 36px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-45xl: 64px;
  --font-size-49xl: 68px;
  --font-size-77xl: 96px;

  /* Colors */
  --polaonbasecom-nero: #fff;
  --polaonbasecom-black: #000;
  --color-darkslateblue-100: #561d6c;
  --color-darkslateblue-200: #47195a;
  --color-seagreen: #005625;
  --color-darkslategray: #313131;
  --polaonbasecom-black-21: rgba(0, 0, 0, 0.21);
  --color-olivedrab: #5d8f35;
  --polaonbasecom-geyser: #dee2e6;
  --polaonbasecom-athens-gray: #f8f9fa;
  --color-lemonchiffon: #fcfac2;

  /* Gaps */
  --gap-2xs: 11px;
  --gap-3xs: 10px;
  --gap-46xl: 65px;
  --gap-8xs: 5px;
  --gap-xl: 20px;
  --gap-6xs-5: 6.5px;
  --gap-5xs: 8px;
  --gap-base: 16px;

  /* Paddings */
  --padding-27xl: 46px;
  --padding-lg: 18px;
  --padding-5xs: 8px;
  --padding-12xl: 31px;
  --padding-18xl: 37px;
  --padding-9xl: 28px;
  --padding-22xl: 41px;
  --padding-2xl: 21px;
  --padding-xl: 20px;
  --padding-31xl: 50px;
  --padding-8xs: 5px;
  --padding-3xs: 10px;
  --padding-base: 16px;
  --padding-mini: 15px;
  --padding-6xl: 25px;
  --padding-lgi: 19px;
  --padding-20xl: 39px;
  --padding-19xl: 38px;
  --padding-4xl: 23px;
  --padding-11xs: 2px;
  --padding-21xl: 40px;
  --padding-6xs: 7px;
  --padding-12xs: 1px;
  --padding-5xl: 24px;
  --padding-9xs: 4px;
  --padding-13xl: 32px;
  --padding-12xs-5: 0.5px;
  --padding-7xs: 6px;
  --padding-xs: 12px;
  --padding-4xs: 9px;

  /* Border radiuses */
  --br-6xl: 25px;
  --br-9xs: 4px;
  --br-25xl: 44px;
  --br-2xs: 11px;
  --br-base: 16px;
  --br-5xs: 8px;
  --br-258xl: 277px;
}
/* global.css */
@media screen and (max-width: 768px) {
  .mobile-view {
    display: block;
  }
  .desktop-view {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .mobile-view {
    display: none;
  }
  .desktop-view {
    display: block;
  }
}
